.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-align: center;
    padding: 20px 0;
}

input {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 10px;
    background: none;
    border: 0;
    border-bottom: solid;
    outline: none;
}

button {
    padding: 8px;
    width: 400px;
    border-radius: 10px;
    font-size: 16px;
}