<div>
    <div *ngIf="logged.getAuth()=='true'">
        <ul>
            <li class="animacion" (click)="mostrarClimaColombia()">Colombia</li>
            <li class="animacion" (click)="mostrarClimaArgentina()">Argentina</li>
            <li class="animacion" (click)="mostrarClimaMexico()">Mexico</li>
            <li class="animacion" (click)="mostrarClimaChile()">Chile</li>
            <li class="animacion" (click)="mostrarClimaEstadosUnidos()">Estados Unidos</li>
        </ul>
        <div class="tiempos">
            <!--Primera ciudad-->
            <div>
                <h1 class="temp">{{ciudadUno.main.temp}}°C</h1>
                <h3 class="feelslike">Se siente como a: {{ciudadUno.main.feels_like}} °C</h3>
                <h1 class="ciudad">{{ciudadUno.name}}</h1>
                <p class="humedad">Humedad: {{ciudadUno.main.humidity}}%</p>
            </div>
            <!--Segunda ciudad-->
            <div>
                <h1 class="temp">{{ciudadDos.main.temp}}°C</h1>
                <h3 class="feelslike">Se siente como a: {{ciudadDos.main.feels_like}} °C</h3>
                <h1 class="ciudad">{{ciudadDos.name}}</h1>
                <p class="humedad">Humedad: {{ciudadDos.main.humidity}}%</p>
            </div>
            <!--Tercera ciudad-->
            <div>
                <h1 class="temp">{{ciudadTres.main.temp}}°C</h1>
                <h3 class="feelslike">Se siente como a: {{ciudadTres.main.feels_like}} °C</h3>
                <h1 class="ciudad">{{ciudadTres.name}}</h1>
                <p class="humedad">Humedad: {{ciudadTres.main.humidity}}%</p>
            </div>
            <!--Cuarta ciudad-->
            <div>
                <h1 class="temp">{{ciudadCuatro.main.temp}}°C</h1>
                <h3 class="feelslike">Se siente como a: {{ciudadCuatro.main.feels_like}} °C</h3>
                <h1 class="ciudad">{{ciudadCuatro.name}}</h1>
                <p class="humedad">Humedad: {{ciudadCuatro.main.humidity}}%</p>
            </div>
            <!--Quinta ciudad-->
            <div>
                <h1 class="temp">{{ciudadCinco.main.temp}}°C</h1>
                <h3 class="feelslike">Se siente como a: {{ciudadCinco.main.feels_like}} °C</h3>
                <h1 class="ciudad">{{ciudadCinco.name}}</h1>
                <p class="humedad">Humedad: {{ciudadCinco.main.humidity}}%</p>
            </div>
        </div>
    </div>
    <div class="contenedor" *ngIf="logged.getAuth()=='cerrando'">
        <div class="inicieporfavor">
            <h1>Cerrando Sesión, Vuelva Pronto</h1>
        </div>
    </div>
    <div class="contenedor" *ngIf="logged.getAuth()=='false'">
        <div class="inicieporfavor">
            <h1>Por favor, inicie sesión</h1>
        </div>
    </div>
</div>