<div>
    <div class="container" *ngIf="looged.getAuth()=='true' && looged.getRol()=='Admin'">
        <div class="tabla">
            <table *ngIf="mostrarEdit == false">
                <tr>
                    <th class="header">Nombre</th>
                    <th class="header">Usuario</th>
                    <th class="header">correo</th>
                    <th class="header">Editar</th>
                    <th class="header">Eliminar</th>
                </tr>
                <tr *ngFor="let usuario of data; let i = index">
                    <td>{{ usuario.name }}</td>
                    <td>{{ usuario.user }}</td>
                    <td>{{ usuario.email }}</td>
                    <td><button mat-mini-fab color="primary" (click)="editar(usuario.id, usuario.nombre, usuario.user, usuario.correo)"><mat-icon>edit</mat-icon></button></td>
                    <td><button mat-mini-fab color="primary" (click)="eliminar(usuario.id)"><mat-icon>delete</mat-icon></button></td>
                </tr>
            </table>
            <table *ngIf="mostrarEdit == true">
                <tr>
                    <th class="header">Nombre</th>
                    <th class="header">Usuario</th>
                    <th class="header">correo</th>
                    <th class="header">Editar</th>
                </tr>
                <tr>
                    <td><input class="editar" type="text" value="" [(ngModel)]="nombre"></td>
                    <td><input class="editar" type="text" value="" [(ngModel)]="user"></td>
                    <td><input class="editar" type="text" value="" [(ngModel)]="correo"></td>
                    <td><button button mat-mini-fab color="primary" (click)="terminarEditar(nombre, user, correo)"><mat-icon>edit</mat-icon></button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="contenedor" *ngIf="looged.getAuth()=='true' && looged.getRol()=='Cliente' ">
        <div class="inicieporfavor">
            <h1>Acceso no autorizado, redireccionando...</h1>
        </div>
    </div>
    <div class="contenedor" *ngIf="looged.getAuth()=='false' ">
        <div class="inicieporfavor">
            <h1>Por favor, inicie sesión</h1>
        </div>
    </div>
</div>