<div class="contenedor" *ngIf="loginService.getAuth()=='false'">
    <div class="login-header">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="formLogin" (submit)="send()" class="login">
                    <div class="title">

                        <mat-card-title>Bienvenido</mat-card-title>
                        <mat-card-subtitle>Ingrese sus datos</mat-card-subtitle>
                    </div>

                    <input type="text" placeholder="Usuario" id="user" formControlName="user"><br><br>
                    <input type="password" placeholder="Contraseña" id="pass" formControlName="pass"><br><br>
                    <button mat-raised-button color="primary" type="submit">Inicia Sesión</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="contenedor" *ngIf="loginService.getAuth()=='true'">
    <div class="bienvenida">
        <h1>Bienvenido {{loginService.getNombre()}} </h1>
    </div>
</div>