.p.header {
    color: white;
    margin-bottom: 20px;
}

.mat-toolbar {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.nav {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.nav>li {
    list-style: none;
}

a .mat-raised-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    margin: 0 10px;
}